<template>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="serial">Серийный номер (serial)</label>
        <input v-model="serialValue" type="text" class="form-control" id="serial" placeholder="123456789012345">
      </div>
      <div class="form-group">
        <label for="firmware">Версия прошивки (firmware)</label>
        <input v-model="firmwareValue" type="text" class="form-control" id="firmware" placeholder="1.01a">
      </div>
      <div class="form-group">
        <label for="connect_freq">Частота подключения к серверу (в минутах) (connect_freq)</label>
        <input
          type="text"
          class="form-control"
          id="connect_freq"
          placeholder="введите значение от 0 до 99"
          v-model="connectFreqValue" />
      </div>
      <div class="text-center">
        <button class="btn btn-primary" @click.stop.prevent="setMachine">Отправить</button>
      </div>
    </form>
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    props:['serial'],
    data(){
      return {
        serialValue: this.serial,
        firmwareValue: '1.01a',
        connectFreqValue: 10,
      }
    },
    methods: {
      setMachine: function () {
        let data = {
          serial: this.serialValue,
          time: moment().format('YYYY-MM-DD kk:mm:ss'),
          firmware: this.firmwareValue,
          connect_freq: this.connectFreqValue
        };
        this.$http.post('/machine', data)
          .then((responce) => {
            console.log(responce);
          },
          (responce) => {
            console.log(responce);
          });
        //this.$http.post('/machine?serial=&time=');
      },
      getMachine: function() {
        this.$http.get('/machine');
      }
    }
  }
</script>

<style lang="scss" scoped>
.label {
  text-align:left;
}
</style>